@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* Global css */
*,
html {
  color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* border: 1px solid black; */
}
body{
  overflow: hidden;
}

/* container untuk semua element di dalam body */
#container-body {
  height: 100vh;
 
  /* background-color: purple; */
  display: grid;
  grid-template:
    "header header" max-content
    "nav  main" 1fr
    / max-content 1fr;
}

/* Header */
header {
  height: 100%;
  grid-area: header;
}

/* Container untuk semua element di dalam header */
header #container-header {
  display: flex;
  padding: 10px 40px;
  align-items: center;
  justify-content: space-between;
  background-color: #243d5e;
  /* border-bottom: black solid 2px; */
}

/* untuk membungkus logo dan keterangan web */
#container-header #intro {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}

/* untuk membungkus gambar logo */
#container-header #logo {
  width: 60px;
  height: 60px;
  background-color: #999;
}

/* untuk membungkus keterangan web */
#container-header #sira {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

/*  keterangan header */
#container-header #intro #sira h1,
h4 {
  color: white;
}

#container-header section div.menu-toggle {
  display: none;
}

/* untuk membungkus nama user */
#container-header span {
  color: white;
  text-decoration: underline;
  /* background-color: purple; */
}

/* navigasi */
nav {
  /* position: relative; */
  /* position: absolute; */
  padding-right: 17px;
  grid-area: nav;
  overflow-y: scroll;
  height: 100%;
  background-color: #0d1a2d;
}

/* button nav untuk mobile */
.menu-toggle div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

/* text menu di nav */
nav .container-nav h3.menu {
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
/* list lvl 1 */
nav div ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* hide nav */
nav div ul ul {
  /* width: max-content; */
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s;
}

/* show nav */
nav div ul ul.show-list {
  max-height: 10000px;
}

nav div ul li {
  float: left;
  display: block;
  border-top: 1px solid rgba(94, 94, 94, 0.5);
}
nav div ul li:last-child {
  border-bottom: 1px solid rgba(94, 94, 94, 0.5);
}

nav div ul a {
  color: white;
  border-left: 5px solid transparent;
  font-size: 14px;
  font-weight: 500;
  padding-left: 25px;
  line-height: 39px;
  display: block;
  width: 100%;
  text-decoration: none;
}

nav div ul a.active {
  background-image: linear-gradient(
    to right,
    rgb(12, 19, 28),
    rgba(13, 26, 45, 0.5)
  );
  border-left: 5px solid cyan;
  color: cyan;
}

nav div ul a span {
  position: relative;
  left: 5px;
  line-height: 39px;
  top: 20%;
  font-size: 20px;
  color: white;
}

nav div ul a span.rotate {
  rotate: 180deg;
}

nav div ul a:hover {
  background-color: #192536;
}
/* List lvl 2  */

nav div ul li ul li {
  border: none;
}

nav div ul ul a {
  padding-left: 50px;
}
nav div ul ul ul a {
  padding-left: 75px;
}

/* main */
main {
  grid-area: main;
  background-color: rgba(255, 255, 255, 0.6);
}


/* max-width: 720px */
/* Responsive For Mobile */
@media only screen and (max-width: 420px) {
  * {
    /* border: 1px solid red; */
  }

  #container-body {
    height: 100vh;
    background-color: purple;
    display: grid;
    grid-template:
      "header header" max-content
      "nav  main" 1fr
      / max-content 1fr;
  }
  
  header #container-header {
    display: block;
  }

  #container-header section {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  #container-header section div.menu-toggle {
    display: block;
  }

  /*Animating Hamburger Icon on Click*/
  .active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .active .line2 {
    transition: all 0.7s ease;
    width: 0;
  }
  .active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  div.wrapper-nav nav{
    
  }

  nav {
    /* top: 0; */
    position: absolute;
    transform: translateX(-100%);
    transition: 1s ease;
  }

  nav.show-nav{
    transform: translateX(0%);
  }


}
